In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('dados_tratados.csv', delimiter=',', encoding='utf-8')
df

,Monstro,Tipo,Charm,Exp,HP,Kills
0,Butterfly (Purple),Vermin,1 Charm points,0 Experience,2 Hitpoints,25
1,Butterfly (Blue),Vermin,1 Charm points,0 Experience,2 Hitpoints,25
2,Butterfly (Red),Vermin,1 Charm points,0 Experience,2 Hitpoints,25
3,Chicken,Bird,5 Charm points,0 Experience,15 Hitpoints,250
4,Agrestic Chicken,Bird,5 Charm points,0 Experience,15 Hitpoints,250
...,...,...,...,...,...,...
730,Darklight Construct,Magical,100 Charm points,21200 Experience,32200 Hitpoints,5000
731,Sopping Carcass,Undead,100 Charm points,21100 Experience,32700 Hitpoints,5000
732,Sopping Corpus,Undead,100 Charm points,21600 Experience,33400 Hitpoints,5000
733,Wandering Pillar,Construct,100 Charm points,22300 Experience,37000 Hitpoints,5000
734,Walking Pillar,Construct,100 Charm points,22500 Experience,38000 Hitpoints,5000

## Tratamentos

In [12]:
df['Charm'] = df['Charm'].apply(lambda x: x.replace(' Charm points',''))
df['Exp'] = df['Exp'].apply(lambda x: x.replace(' Experience',''))
df['HP'] = df['HP'].apply(lambda x: x.replace(' Hitpoints',''))
df.head()

              Monstro    Tipo Charm Exp  HP  Kills
0  Butterfly (Purple)  Vermin     1   0   2     25
1    Butterfly (Blue)  Vermin     1   0   2     25
2     Butterfly (Red)  Vermin     1   0   2     25
3             Chicken    Bird     5   0  15    250
4    Agrestic Chicken    Bird     5   0  15    250

In [13]:
df['Charm'] = df['Charm'].astype(int)
df['Exp'] = df['Exp'].astype(int)
df['HP'] = df['HP'].astype(int)

## Metricas

In [15]:
df['HP_Total_Desbloqueio'] = df['HP'] * df['Kills']
df.head()

              Monstro    Tipo  Charm  Exp  HP  Kills  HP_Total_Desbloqueio
0  Butterfly (Purple)  Vermin      1    0   2     25                    50
1    Butterfly (Blue)  Vermin      1    0   2     25                    50
2     Butterfly (Red)  Vermin      1    0   2     25                    50
3             Chicken    Bird      5    0  15    250                  3750
4    Agrestic Chicken    Bird      5    0  15    250                  3750

In [17]:
df['Charm_por_HP_removido_creatura'] = df['Charm'] / df['HP_Total_Desbloqueio']
df

,Monstro,Tipo,Charm,Exp,HP,Kills,HP_Total_Desbloqueio,Charm_por_HP_removido_creatura
0,Butterfly (Purple),Vermin,1,0,2,25,50,2.000000e-02
1,Butterfly (Blue),Vermin,1,0,2,25,50,2.000000e-02
2,Butterfly (Red),Vermin,1,0,2,25,50,2.000000e-02
3,Chicken,Bird,5,0,15,250,3750,1.333333e-03
4,Agrestic Chicken,Bird,5,0,15,250,3750,1.333333e-03
...,...,...,...,...,...,...,...,...
730,Darklight Construct,Magical,100,21200,32200,5000,161000000,6.211180e-07
731,Sopping Carcass,Undead,100,21100,32700,5000,163500000,6.116208e-07
732,Sopping Corpus,Undead,100,21600,33400,5000,167000000,5.988024e-07
733,Wandering Pillar,Construct,100,22300,37000,5000,185000000,5.405405e-07
734,Walking Pillar,Construct,100,22500,38000,5000,190000000,5.263158e-07

In [18]:
df.sort_values('Charm_por_HP_removido_creatura', ascending=False)

,Monstro,Tipo,Charm,Exp,HP,Kills,HP_Total_Desbloqueio,Charm_por_HP_removido_creatura
42,Goblin Leader,Humanoid,30,75,50,5,250,1.200000e-01
54,Troll Guard,Humanoid,30,25,60,5,300,1.000000e-01
109,Doomsday Cultist,Human,30,100,125,5,625,4.800000e-02
192,Bride of Night,Human,50,450,275,5,1375,3.636364e-02
135,Dire Penguin,Bird,30,119,173,5,865,3.468208e-02
...,...,...,...,...,...,...,...,...
730,Darklight Construct,Magical,100,21200,32200,5000,161000000,6.211180e-07
731,Sopping Carcass,Undead,100,21100,32700,5000,163500000,6.116208e-07
732,Sopping Corpus,Undead,100,21600,33400,5000,167000000,5.988024e-07
733,Wandering Pillar,Construct,100,22300,37000,5000,185000000,5.405405e-07
734,Walking Pillar,Construct,100,22500,38000,5000,190000000,5.263158e-07

## Resultados - Top 100 Creaturas mais fáceis de terminar o bestiário (Charms ganho por HP removido da criatura)

In [21]:
pd.set_option('display.max_rows', 100)
df.sort_values('Charm_por_HP_removido_creatura', ascending=False).head(100)

,Monstro,Tipo,Charm,Exp,HP,Kills,HP_Total_Desbloqueio,Charm_por_HP_removido_creatura
42,Goblin Leader,Humanoid,30,75,50,5,250,0.120000
54,Troll Guard,Humanoid,30,25,60,5,300,0.100000
109,Doomsday Cultist,Human,30,100,125,5,625,0.048000
192,Bride of Night,Human,50,450,275,5,1375,0.036364
135,Dire Penguin,Bird,30,119,173,5,865,0.034682
206,Dryad,Fey,50,190,310,5,1550,0.032258
222,Herald of Gloom,Demon,50,450,340,5,1700,0.029412
70,Wild Horse,Mammal,10,0,75,5,375,0.026667
78,Grynch Clan Goblin,Humanoid,10,4,80,5,400,0.025000
241,Nightslayer,Human,50,250,400,5,2000,0.025000
250,Undead Cavebear,Undead,50,600,450,5,2250,0.022222
0,Butterfly (Purple),Vermin,1,0,2,25,50,0.020000
263,Elf Overseer,Humanoid,50,290,500,5,2500,0.020000
2,Butterfly (Red),Vermin,1,0,2,25,50,0.020000
1,Butterfly (Blue),Vermin,1,0,2,25,50,0.020000
218,Acolyte of Darkness,Human,30,200,325,5,1625,0.018462
275,Golden Servant,Construct,50,450,550,5,2750,0.018182
280,Shadow Hound,Demon,50,600,555,5,2775,0.018018
225,Iron Servant,Construct,30,210,350,5,1750,0.017143
284,Thornfire Wolf,Magical,50,200,600,5,3000,0.016667
235,Water Buffalo,Mammal,30,20,390,5,1950,0.015385
249,Cake Golem,Construct,30,100,444,5,2220,0.013514
303,Crystal Wolf,Magical,50,275,750,5,3750,0.013333
331,Yeti,Mammal,50,460,950,5,4750,0.010526
336,Diamond Servant,Construct,50,700,1000,5,5000,0.010000
342,Midnight Warrior,Human,50,750,1000,5,5000,0.010000
355,Bane of Light,Undead,50,750,1100,5,5500,0.009091
363,Midnight Panther,Magical,50,900,1200,5,6000,0.008333
412,Crustacea Gigantica,Aquatic,50,1800,1600,5,8000,0.006250
418,Iks Ahpututu,Undead,50,1700,1630,5,8150,0.006135
420,Vicious Manbat,Undead,50,1200,1700,5,8500,0.005882
227,Undead Jester,Undead,10,5,355,5,1775,0.005634
431,Raging Fire,Elemental,50,1500,1800,5,9000,0.005556
449,Midnight Spawn,Slime,50,900,2000,5,10000,0.005000
468,Bane Bringer,Plant,50,400,2500,5,12500,0.004000
479,Nightfiend,Demon,50,2100,2700,5,13500,0.003704
497,Draptor,Reptile,50,2400,3000,5,15000,0.003333
518,Duskbringer,Demon,50,2600,3550,5,17750,0.002817
15,Cat,Mammal,1,0,20,25,500,0.002000
566,Albino Dragon,Dragon,50,2250,5000,5,25000,0.002000
264,Berrypest,Vermin,5,0,500,5,2500,0.002000
12,Dog,Mammal,1,0,20,25,500,0.002000
5,Rabbit,Mammal,5,0,15,250,3750,0.001333
6,Silver Rabbit,Mammal,5,0,15,250,3750,0.001333
4,Agrestic Chicken,Bird,5,0,15,250,3750,0.001333
3,Chicken,Bird,5,0,15,250,3750,0.001333
7,Snake,Reptile,5,10,15,250,3750,0.001333
30,Pigeon,Bird,1,0,30,25,750,0.001333
8,Spider,Vermin,5,12,20,250,5000,0.001000
9,Black Sheep,Mammal,5,0,20,250,5000,0.001000
11,Rat,Mammal,5,5,20,250,5000,0.001000
13,Skunk,Mammal,5,3,20,250,5000,0.001000
14,Squirrel,Mammal,5,0,20,250,5000,0.001000
10,Sheep,Mammal,5,0,20,250,5000,0.001000
16,Fox,Mammal,5,15,22,250,5500,0.000909
17,Badger,Mammal,5,5,23,250,5750,0.000870
23,Seagull,Bird,5,0,25,250,6250,0.000800
20,Fish,Aquatic,5,0,25,250,6250,0.000800
24,Wolf,Mammal,5,18,25,250,6250,0.000800
19,Bog Frog,Amphibic,5,0,25,250,6250,0.000800
26,Pig,Mammal,5,0,25,250,6250,0.000800
22,Parrot,Bird,5,0,25,250,6250,0.000800
18,Green Frog,Amphibic,5,0,25,250,6250,0.000800
21,Flamingo,Bird,5,0,25,250,6250,0.000800
25,Deer,Mammal,5,0,25,250,6250,0.000800
27,Poison Spider,Vermin,5,22,26,250,6500,0.000769
28,Bug,Vermin,5,18,29,250,7250,0.000690
29,Sandcrawler,Vermin,5,20,30,250,7500,0.000667
37,Scorpion,Vermin,15,45,45,500,22500,0.000667
33,Cave Rat,Mammal,5,10,30,250,7500,0.000667
34,Bat,Mammal,5,10,30,250,7500,0.000667
31,Cave Parrot,Bird,5,0,30,250,7500,0.000667
32,Winter Wolf,Mammal,5,20,30,250,7500,0.000667
35,Penguin,Bird,5,1,33,250,8250,0.000606
43,Insect Swarm,Vermin,15,40,50,500,25000,0.000600
44,Skeleton,Undead,15,35,50,500,25000,0.000600
36,Wasp,Vermin,5,24,35,250,8750,0.000571
46,Crab,Aquatic,15,30,55,500,27500,0.000545
47,Swamp Troll,Humanoid,15,25,55,500,27500,0.000545
48,Jellyfish,Aquatic,15,0,55,500,27500,0.000545
50,Coral Frog,Amphibic,15,20,60,500,30000,0.000500
51,Crimson Frog,Amphibic,15,20,60,500,30000,0.000500
49,Azure Frog,Amphibic,15,20,60,500,30000,0.000500
53,Goblin Scavenger,Humanoid,15,37,60,500,30000,0.000500
52,Orchid Frog,Amphibic,15,20,60,500,30000,0.000500
55,Hyaena,Mammal,15,20,60,500,30000,0.000500
60,Undead Mine Worker,Undead,15,45,65,500,32500,0.000462
56,Rotworm,Vermin,15,40,65,500,32500,0.000462
57,Cobra,Reptile,15,30,65,500,32500,0.000462
58,Adventurer,Human,15,0,65,500,32500,0.000462
59,Skeleton Warrior,Undead,15,45,65,500,32500,0.000462
38,Dromedary,Mammal,5,0,45,250,11250,0.000444
61,Chakoya Tribewarden,Humanoid,15,40,68,500,34000,0.000441
63,Larva Raid,Vermin,15,44,70,500,35000,0.000429
64,Centipede,Vermin,15,34,70,500,35000,0.000429
65,Orc,Humanoid,15,25,70,500,35000,0.000429
62,Salamander,Amphibic,15,25,70,500,35000,0.000429
93,Northern Pike,Aquatic,1,0,95,25,2375,0.000421
40,Goblin,Humanoid,5,25,50,250,12500,0.000400
39,Troll,Humanoid,5,20,50,250,12500,0.000400