# 1. Import bibliotecas

In [1]:
import pandas as pd
import numpy as np

import datetime as dt

# 2 Leitura dos dados

## 2.1 Fato

In [2]:
df_campeonato = pd.read_csv('campeonato-brasileiro-full.csv')
df_campeonato.head()

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,1,1,29/3/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR
3,4,1,30/3/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP

## 2.2 Estatisticas da partida

In [3]:
df_estatisticas = pd.read_csv('campeonato-brasileiro-estatisticas-full.csv')
df_estatisticas.head()

,partida_id,rodata,clube,chutes,chutes_no_alvo,posse_de_bola,passes,precisao_passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
0,1,1,Guarani,0,0,NaN,0,NaN,0,0,0,0,0
1,1,1,Vasco,0,0,NaN,0,NaN,0,0,0,0,0
2,2,1,Athletico-PR,0,0,NaN,0,NaN,0,0,0,0,0
3,2,1,Gremio,0,0,NaN,0,NaN,0,0,0,0,0
4,3,1,Flamengo,0,0,NaN,0,NaN,0,0,0,0,0

## 2.3 Cartões na partida

In [4]:
df_cartoes = pd.read_csv('campeonato-brasileiro-cartoes.csv')
df_cartoes.head()

,partida_id,rodata,clube,cartao,atleta,num_camisa,posicao,minuto
0,4607,1,Figueirense,Amarelo,Paulo Roberto da Silva,28.0,NaN,66
1,4608,1,Internacional,Amarelo,Andrés D'Alessandro,10.0,Meio-campo,72
2,4608,1,Vitoria,Amarelo,Marcelo Machado dos Santos,29.0,NaN,86
3,4608,1,Vitoria,Amarelo,Mansur,NaN,Zagueiro,10
4,4607,1,Figueirense,Amarelo,Thiago Heleno,4.0,Zagueiro,44

## 2.4 Gols da partida

In [5]:
df_gols = pd.read_csv('campeonato-brasileiro-gols.csv')
df_gols.head()

,partida_id,rodata,clube,atleta,minuto,tipo_de_gol
0,4607,1,Fluminense,Fred,45,Penalty
1,4607,1,Fluminense,Nirley da Silva Fonseca,59,Gol Contra
2,4607,1,Fluminense,Rafael Sóbis,31,NaN
3,4608,1,Internacional,Charles Aránguiz,6,NaN
4,4611,1,Sao Paulo,Antônio Carlos dos Santos Aguiar,13,NaN

# 3 Processamento e Transformações

## 3.1 Vencedor da partida: mandante ou visitante

In [21]:
## Vencedor mandante ou visitante
condicoes = [(df_campeonato['vencedor']==df_campeonato['mandante']),\
             (df_campeonato['vencedor']==df_campeonato['visitante']),\
             (df_campeonato['vencedor']=='-')]

resultado_condicoes = ['mandante','visitante','empate']
df_campeonato['vencedor_mandante_visitante'] = np.select(condicoes,resultado_condicoes,default=np.nan)

df_campeonato.head()

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado,vencedor_mandante_visitante
0,1,1,29/3/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ,mandante
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS,mandante
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR,empate
3,4,1,30/3/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA,empate
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP,empate

## 3.2 Diferença de gols entre os clubes na partida

In [22]:
## Diferença de gols entre os clubes na partida
df_campeonato['diff_gols'] = abs(df_campeonato['mandante_Placar']-df_campeonato['visitante_Placar'])
df_campeonato.head()

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado,vencedor_mandante_visitante,diff_gols
0,1,1,29/3/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ,mandante,2
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS,mandante,2
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR,empate,0
3,4,1,30/3/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA,empate,0
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP,empate,0

## 3.3 Dias de desanso desde o ultimo jogo - mandante e visitante

In [7]:
df_campeonato.mandante.unique()

array(['Guarani', 'Athletico-PR', 'Flamengo', 'Goias', 'Internacional',
       'Criciuma', 'Juventude', 'Fortaleza', 'Cruzeiro', 'Vitoria',
       'Santos', 'Corinthians', 'Fluminense', 'Atletico-MG', 'Coritiba',
       'Gremio', 'Bahia', 'Figueirense', 'Paysandu', 'Ponte Preta',
       'Parana', 'Sao Caetano', 'Sao Paulo', 'Vasco', 'Botafogo-RJ',
       'Palmeiras', 'Brasiliense', 'Santa Cruz', 'America-RN', 'Sport',
       'Nautico', 'Ipatinga', 'Portuguesa', 'Avai', 'Santo Andre',
       'Barueri', 'Atletico-GO', 'Ceara', 'Gremio Prudente', 'America-MG',
       'Chapecoense', 'Joinville', 'CSA', 'Bragantino', 'Cuiaba'],
      dtype=object)

In [8]:
df_campeonato.visitante.unique()

array(['Vasco', 'Gremio', 'Coritiba', 'Paysandu', 'Ponte Preta',
       'Fluminense', 'Sao Paulo', 'Bahia', 'Sao Caetano', 'Figueirense',
       'Parana', 'Atletico-MG', 'Fortaleza', 'Santos', 'Internacional',
       'Guarani', 'Flamengo', 'Corinthians', 'Vitoria', 'Juventude',
       'Athletico-PR', 'Criciuma', 'Cruzeiro', 'Goias', 'Palmeiras',
       'Botafogo-RJ', 'Brasiliense', 'Santa Cruz', 'Nautico',
       'America-RN', 'Sport', 'Portuguesa', 'Ipatinga', 'Barueri',
       'Santo Andre', 'Avai', 'Gremio Prudente', 'Atletico-GO', 'Ceara',
       'America-MG', 'Chapecoense', 'Joinville', 'CSA', 'Bragantino',
       'Cuiaba'], dtype=object)

In [13]:
## Transformando coluna pra data
df_campeonato['data'] = pd.to_datetime(df_campeonato['data'])

In [14]:
## Colocando os jogos em ordem cronológica
df_campeonato = df_campeonato.sort_values(by = 'data', ascending = True)
df_campeonato.head()

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
126,126,11,2003-01-06,16:00,Parana,Flamengo,NaN,NaN,NaN,NaN,Parana,Pinheirão,6,2,PR,RJ
131,131,11,2003-01-06,18:00,Corinthians,Vitoria,NaN,NaN,NaN,NaN,Corinthians,Pacaembu,4,0,SP,BA
130,130,11,2003-01-06,16:00,Santos,Sao Paulo,NaN,NaN,NaN,NaN,Santos,Vila Belmiro,3,2,SP,SP
128,128,11,2003-01-06,16:00,Fortaleza,Juventude,NaN,NaN,NaN,NaN,Fortaleza,Castelão,3,1,CE,RS
129,129,11,2003-01-06,16:00,Figueirense,Gremio,NaN,NaN,NaN,NaN,Figueirense,Orlando Scarpelli,2,1,SC,RS

In [102]:
df_dias_de_descanso = pd.DataFrame()

for time in df_campeonato.mandante.unique().tolist():
    print(time)
    
    df_time = df_campeonato.query('mandante == ' + '"' +  str(time) + '"'  + ' | visitante == ' + '"' + str(time) + '"' )
    
    
    df_aux = df_time[['data']].diff(axis=0, periods = 1).reset_index().rename(columns={'data':'dias_de_descanso'})
    df_aux['dias_de_descanso'] = df_aux['dias_de_descanso'].dt.days
    df_aux['time'] = time
    df_dias_de_descanso = pd.concat([df_dias_de_descanso, df_aux])

Parana
Corinthians
Santos
Fortaleza
Figueirense
Vasco
Bahia
Gremio
Athletico-PR
Guarani
Fluminense
Atletico-MG
Sao Paulo
Sao Caetano
Juventude
Vitoria
Flamengo
Cruzeiro
Ponte Preta
Coritiba
Paysandu
Internacional
Criciuma
Goias
Palmeiras
Botafogo-RJ
Brasiliense
Santa Cruz
Nautico
America-RN
Sport
Ipatinga
Portuguesa
Santo Andre
Avai
Barueri
Gremio Prudente
Ceara
Atletico-GO
America-MG
Chapecoense
Joinville
CSA
Bragantino
Cuiaba

In [103]:
len(df_dias_de_descanso), len(df_campeonato)

(16050, 8025)

In [104]:
df_dias_de_descanso

    index  dias_de_descanso    time
0     126               NaN  Parana
1     470               5.0  Parana
2     269              56.0  Parana
3      10              22.0  Parana
4      82               6.0  Parana
..    ...               ...     ...
71   7956               5.0  Cuiaba
72   7972               7.0  Cuiaba
73   7983               4.0  Cuiaba
74   7748              10.0  Cuiaba
75   8020               7.0  Cuiaba

[16050 rows x 3 columns]

### Check sanidade - OK

In [107]:
df_dias_de_descanso[df_dias_de_descanso['index']==7983]

     index  dias_de_descanso    time
263   7983               5.0    Avai
73    7983               4.0  Cuiaba

In [98]:
df_aux2 = df_campeonato.reset_index()
df_aux2[df_aux2['index']==7983]

,index,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
7995,7983,7985,34,2022-10-27,19:59,Cuiaba,Avai,4-1-4-1,4-2-3-1,A. Cardoso de Oliveira,F. Bento da Cunha,Cuiaba,Arena Pantanal,1,0,MT,SC

In [99]:
df_campeonato.query('mandante == ' + '"' +  str('Cuiaba') + '"'  + ' | visitante == ' + '"' + str('Cuiaba') + '"' )

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
7340,7345,8,2021-01-07,20:00,Cuiaba,Flamengo,4-5-1,4-4-2,L. Iubel,R. Ceni,Flamengo,Arena Pantanal,0,2,MT,RJ
7550,7564,29,2021-01-11,20:00,Cuiaba,Bragantino,4-1-2-1-2,4-4-2,J. de Amorim Campos,M. Nogueira Barbieri,Cuiaba,Arena Pantanal,1,0,MT,SP
7479,7486,23,2021-02-10,17:01,Cuiaba,America-MG,4-2-3-1,4-2-3-1,J. de Amorim Campos,V. Carmo Mancini,America-MG,Arena Pantanal,0,2,MT,MG
7621,7614,35,2021-03-12,19:01,Athletico-PR,Cuiaba,3-4-2-1,4-1-4-1,A. Valentim do Carmo Neto,J. de Amorim Campos,Athletico-PR,Estádio Joaquim Américo Guimarães,1,0,PR,MT
7349,7354,9,2021-04-07,18:15,Cuiaba,Atletico-MG,4-4-2,4-2-3-1,J. de Amorim Campos,A. Stival,Atletico-MG,Arena Pantanal,0,1,MT,MG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7956,7958,32,2022-10-16,16:00,Ceara,Cuiaba,3-4-3,5-4-1,L. González,A. Cardoso de Oliveira,-,Arena Castelão,1,1,CE,MT
7972,7974,33,2022-10-23,18:00,Cuiaba,Goias,3-5-1-1,5-4-1,A. Cardoso de Oliveira,J. Ribeiro Ventura,Goias,Arena Pantanal,1,2,MT,GO
7983,7985,34,2022-10-27,19:59,Cuiaba,Avai,4-1-4-1,4-2-3-1,A. Cardoso de Oliveira,F. Bento da Cunha,Cuiaba,Arena Pantanal,1,0,MT,SC
7748,7749,11,2022-11-06,19:00,Cuiaba,Bragantino,4-3-3,4-2-3-1,A. Cardoso de Oliveira,M. Nogueira Barbieri,-,Arena Pantanal,1,1,MT,SP
8020,8021,38,2022-11-13,16:03,Cuiaba,Coritiba,4-1-4-1,4-1-4-1,A. Cardoso de Oliveira,A. Ferreira,Cuiaba,Arena Pantanal,2,1,MT,PR

In [100]:
df_campeonato.query('mandante == ' + '"' +  str('Avai') + '"'  + ' | visitante == ' + '"' + str('Avai') + '"' )

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
2858,2860,16,2009-02-08,16:00,Corinthians,Avai,NaN,NaN,NaN,NaN,-,Pacaembu,0,0,SP,SC
2974,2975,27,2009-04-10,18:30,Avai,Cruzeiro,NaN,NaN,NaN,NaN,-,Ressacada,2,2,SC,MG
2793,2794,9,2009-05-07,18:30,Avai,Palmeiras,NaN,NaN,NaN,NaN,Palmeiras,Ressacada,0,3,SC,SP
2865,2868,17,2009-05-08,21:00,Avai,Santo Andre,NaN,NaN,NaN,NaN,Avai,Ressacada,1,0,SC,SP
3077,3078,38,2009-05-12,19:30,Nautico,Avai,NaN,NaN,NaN,NaN,Avai,Aflitos,0,1,PE,SC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7960,7962,32,2022-10-16,19:00,Avai,Fluminense,4-4-2,4-2-2-2,L. Cirne Lima de Lorenzi,F. Diniz Silva,Fluminense,Ressacada,0,3,SC,RJ
7967,7969,33,2022-10-22,21:00,Palmeiras,Avai,4-2-3-1,4-2-3-1,A. Moreira Ferreira,L. Cirne Lima de Lorenzi,Palmeiras,Allianz Parque,3,0,SP,SC
7983,7985,34,2022-10-27,19:59,Cuiaba,Avai,4-1-4-1,4-2-3-1,A. Cardoso de Oliveira,F. Bento da Cunha,Cuiaba,Arena Pantanal,1,0,MT,SC
7900,7901,26,2022-11-09,11:01,Avai,Athletico-PR,4-2-3-1,4-2-3-1,E. de Souza Barroca,L. Scolari,-,Ressacada,1,1,SC,PR
8015,8016,38,2022-12-11,16:01,Flamengo,Avai,4-3-3,4-5-1,D. Silvestre Júnior,F. Bento da Cunha,Avai,Maracanã,1,2,RJ,SC

# 4 Perguntas

In [12]:
## Cada ano os times mudam
## Os times demoram se entrozar, quais times vencem mais após esse tempo de entrozamento? Quanto tempo até se entrozarem e obter resultados consistentes?
## As vitorias favorecem mais os mandantes ou os visitantes? - por hora, bimestre do ano,
## Como as vitorias favorecem mais quem abriu o placar? o time que abriu placar tem mais chances de vitorias?
## Times que abriram o placar e tomaram o empate tem mais chances de vitorias?
## Quais formações funcionam melhor contra qual outra formação? Olhar para vitórias e a diferença de gols na partida
## Nas mesmas condições de placar no momento do gol contra, o time que fez gol contra tem vantagem sobre quem nao fez? qual taxa de vitoria
## Há correlação entre numeros de faltas dos jogos, numero de penaltys do jogo e cartoes do jogo vs combinação das formações entre os times? quais formações mais favorecem o antijogo - anti-espetáculo
## Há correlação entre numeros de chutes no alvo no jogo vs combinação das formações entre os times? quais formações mais favorecem os chutes no alvo - favorece espetáculo
## Há correlação entre diff posse_de_bola do entre os times do jogo vs combinação das formações entre os times? quais formações mais favorecem o equilibrio no jogo - favorece espetáculo
## Há correlação entre numero de gols dos times do jogo vs combinação das formações entre os times? quais formações mais favorecem a qtde de gols no jogo - favorece espetáculo


##Avaliacao psicologica do time - fator psicológico

##cenario 1: empatados no momento da ocorrencia
##cenario 2: perdendo no momento da ocorrencia
##cenario 3: ganhando no momento da ocorrencia
##cenario especial: ganhando por 1 gol no momento da ocorrencia e cede empate por 1 gol contra ou penalty

## Partidas com gol contra: volume cenario 1 cenario 2 e cenario 3, cenario especial -->> tx de vitoria em cada cenario (quebrar por ocorrencia no primeiro ou segundo tempo - tmpo para se recuperar psicologicamente)
## Partidas com penalty: volume cenario 1 cenario 2 e cenario 3, cenario especial -->> tx de vitoria em cada cenario (quebrar por ocorrencia no primeiro ou segundo tempo - tmpo para se recuperar psicologicamente)
## Times que tomam amarelo: volume cenario 1 cenario 2 e cenario 3 -->> tx de vitoria em cada cenario (quebrar por posicao do cara q tomou cartao)
## Times que tomam vermelho: volume cenario 1 cenario 2 e cenario 3  -->> tx de vitoria em cada cenario (quebrar por posicao do cara q tomou cartao)


## Avaliação fisica do time - fator cansaço


##Tempo entre o jogo e o ultimo jogo.

In [14]:
df_estatisticas.tail()

,partida_id,rodata,clube,chutes,chutes_no_alvo,posse_de_bola,passes,precisao_passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
16045,8023,38,Atletico-MG,17,7,41%,351,82%,19,6,0,0,4
16046,8024,38,Internacional,15,8,48%,287,77%,13,2,0,1,6
16047,8024,38,Palmeiras,11,2,52%,306,82%,17,3,0,2,5
16048,8025,38,Goias,6,2,35%,330,80%,12,2,0,1,3
16049,8025,38,Sao Paulo,13,7,65%,591,90%,14,1,0,0,4