In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dados_tratados.csv', delimiter=',', encoding='utf-8')
df

,Criatura,Tipo,Dificuldade,Ocorrencia,Charm,Exp,HP,Kills
0,Toad,Amphibic,Easy,Common,15,60,135,500
1,Green Frog,Amphibic,Trivial,Common,5,0,25,250
2,Azure Frog,Amphibic,Easy,Common,15,20,60,500
3,Coral Frog,Amphibic,Easy,Common,15,20,60,500
4,Crimson Frog,Amphibic,Easy,Common,15,20,60,500
...,...,...,...,...,...,...,...,...
729,Cave Chimera,Vermin,Hard,Common,50,6800,8000,2500
730,Sulphider,Vermin,Challenging,Common,100,13328,21000,5000
731,Undertaker,Vermin,Challenging,Common,100,13543,20100,5000
732,Mycobiontic Beetle,Vermin,Challenging,Common,100,20360,30200,5000
733,Bloated Man-Maggot,Vermin,Challenging,Common,100,20740,31700,5000

# Tratamentos

## Nome de Colunas

In [21]:
df.columns = [x.strip() for x in df.columns]

## Tipo colunas

In [22]:
df['Charm'] = df['Charm'].astype(int)
df['Exp'] = df['Exp'].astype(int)
df['HP'] = df['HP'].astype(int)

# Metricas

## Charm por HP total * kill

In [23]:
df['HP_Total_Desbloqueio'] = df['HP'] * df['Kills']
df.head()

,Criatura,Tipo,Dificuldade,Ocorrencia,Charm,Exp,HP,Kills,HP_Total_Desbloqueio
0,Toad,Amphibic,Easy,Common,15,60,135,500,67500
1,Green Frog,Amphibic,Trivial,Common,5,0,25,250,6250
2,Azure Frog,Amphibic,Easy,Common,15,20,60,500,30000
3,Coral Frog,Amphibic,Easy,Common,15,20,60,500,30000
4,Crimson Frog,Amphibic,Easy,Common,15,20,60,500,30000

In [24]:
df['Charm_por_HP_removido_creatura'] = df['Charm'] / df['HP_Total_Desbloqueio']
df

,Criatura,Tipo,Dificuldade,Ocorrencia,Charm,Exp,HP,Kills,HP_Total_Desbloqueio,Charm_por_HP_removido_creatura
0,Toad,Amphibic,Easy,Common,15,60,135,500,67500,2.222222e-04
1,Green Frog,Amphibic,Trivial,Common,5,0,25,250,6250,8.000000e-04
2,Azure Frog,Amphibic,Easy,Common,15,20,60,500,30000,5.000000e-04
3,Coral Frog,Amphibic,Easy,Common,15,20,60,500,30000,5.000000e-04
4,Crimson Frog,Amphibic,Easy,Common,15,20,60,500,30000,5.000000e-04
...,...,...,...,...,...,...,...,...,...,...
729,Cave Chimera,Vermin,Hard,Common,50,6800,8000,2500,20000000,2.500000e-06
730,Sulphider,Vermin,Challenging,Common,100,13328,21000,5000,105000000,9.523810e-07
731,Undertaker,Vermin,Challenging,Common,100,13543,20100,5000,100500000,9.950249e-07
732,Mycobiontic Beetle,Vermin,Challenging,Common,100,20360,30200,5000,151000000,6.622517e-07
733,Bloated Man-Maggot,Vermin,Challenging,Common,100,20740,31700,5000,158500000,6.309148e-07

# Insights

## Quais sÃ£o as principais dificuldades das criaturas?

In [27]:
df.Dificuldade.value_counts()

Medium         307
Hard           167
Easy           157
Challenging     48
Trivial         44
Harmless        11
Name: Dificuldade, dtype: int64

## Quais sÃ£o as ocorrencias das criaturas?

In [30]:
df.Ocorrencia.value_counts()

Common       591
Uncommon      57
Rare          49
Very Rare     37
Name: Ocorrencia, dtype: int64

## AtÃ© quantos pontos cada criatura pode dar?

In [36]:
df.Charm.value_counts()

25     282
50     192
15     149
100     48
5       42
1       10
30       8
10       3
Name: Charm, dtype: int64

## Como a quantidade de criaturas se distribui em termos da ocorrencia, dificuldade e os pontos que cada uma podem conceder de charm?

In [44]:
df_aux = df.groupby(['Ocorrencia','Dificuldade','Charm']).agg({'Criatura':"count", 'HP':'sum'}).reset_index().rename(columns={'Criatura':'Qtd_criaturas', 'HP':'HP_total'})
df_aux['Charms_totais'] = df_aux['Qtd_criaturas']*df_aux['Charm']
df_aux['Charms_por_HP_total'] = df_aux['Charm']/df_aux['HP_total']
df_aux

,Ocorrencia,Dificuldade,Charm,Qtd_criaturas,HP_total,Charms_totais,Charms_por_HP_total
0,Common,Challenging,100,48,1225400,4800,0.000082
1,Common,Easy,15,127,21583,1905,0.000695
2,Common,Hard,50,153,1094745,7650,0.000046
3,Common,Harmless,1,6,296,6,0.003378
4,Common,Medium,25,221,335170,5525,0.000075
5,Common,Trivial,5,36,1083,180,0.004617
6,Rare,Easy,15,10,1620,150,0.009259
7,Rare,Hard,50,3,15000,150,0.003333
8,Rare,Medium,25,34,52535,850,0.000476
9,Rare,Trivial,5,2,270,10,0.018519
10,Uncommon,Easy,15,12,2040,180,0.007353
11,Uncommon,Hard,50,11,95500,550,0.000524
12,Uncommon,Harmless,1,4,1765,4,0.000567
13,Uncommon,Medium,25,27,36195,675,0.000691
14,Uncommon,Trivial,5,3,170,15,0.029412
15,Very Rare,Easy,30,8,1917,240,0.015649
16,Very Rare,Harmless,5,1,500,5,0.010000
17,Very Rare,Medium,50,25,35460,1250,0.001410
18,Very Rare,Trivial,10,3,510,30,0.019608

In [45]:
df_aux.sort_values('Charms_totais', ascending=False)

,Ocorrencia,Dificuldade,Charm,Qtd_criaturas,HP_total,Charms_totais,Charms_por_HP_total
2,Common,Hard,50,153,1094745,7650,0.000046
4,Common,Medium,25,221,335170,5525,0.000075
0,Common,Challenging,100,48,1225400,4800,0.000082
1,Common,Easy,15,127,21583,1905,0.000695
17,Very Rare,Medium,50,25,35460,1250,0.001410
8,Rare,Medium,25,34,52535,850,0.000476
13,Uncommon,Medium,25,27,36195,675,0.000691
11,Uncommon,Hard,50,11,95500,550,0.000524
15,Very Rare,Easy,30,8,1917,240,0.015649
5,Common,Trivial,5,36,1083,180,0.004617
10,Uncommon,Easy,15,12,2040,180,0.007353
6,Rare,Easy,15,10,1620,150,0.009259
7,Rare,Hard,50,3,15000,150,0.003333
18,Very Rare,Trivial,10,3,510,30,0.019608
14,Uncommon,Trivial,5,3,170,15,0.029412
9,Rare,Trivial,5,2,270,10,0.018519
3,Common,Harmless,1,6,296,6,0.003378
16,Very Rare,Harmless,5,1,500,5,0.010000
12,Uncommon,Harmless,1,4,1765,4,0.000567

- Criaturas comuns, hard, medium, challeging e easy sÃ£o as que fornecem maiores quantidade de charms

In [46]:
df_aux.sort_values('Charms_por_HP_total', ascending=False)

,Ocorrencia,Dificuldade,Charm,Qtd_criaturas,HP_total,Charms_totais,Charms_por_HP_total
14,Uncommon,Trivial,5,3,170,15,0.029412
18,Very Rare,Trivial,10,3,510,30,0.019608
9,Rare,Trivial,5,2,270,10,0.018519
15,Very Rare,Easy,30,8,1917,240,0.015649
16,Very Rare,Harmless,5,1,500,5,0.010000
6,Rare,Easy,15,10,1620,150,0.009259
10,Uncommon,Easy,15,12,2040,180,0.007353
5,Common,Trivial,5,36,1083,180,0.004617
3,Common,Harmless,1,6,296,6,0.003378
7,Rare,Hard,50,3,15000,150,0.003333
17,Very Rare,Medium,50,25,35460,1250,0.001410
1,Common,Easy,15,127,21583,1905,0.000695
13,Uncommon,Medium,25,27,36195,675,0.000691
12,Uncommon,Harmless,1,4,1765,4,0.000567
11,Uncommon,Hard,50,11,95500,550,0.000524
8,Rare,Medium,25,34,52535,850,0.000476
0,Common,Challenging,100,48,1225400,4800,0.000082
4,Common,Medium,25,221,335170,5525,0.000075
2,Common,Hard,50,153,1094745,7650,0.000046

- Criaturas que dÃ£o mais charms por hp total tem ocorrencias extremamente raras

In [47]:
df_aux.sort_values('Qtd_criaturas', ascending=False)

,Ocorrencia,Dificuldade,Charm,Qtd_criaturas,HP_total,Charms_totais,Charms_por_HP_total
4,Common,Medium,25,221,335170,5525,0.000075
2,Common,Hard,50,153,1094745,7650,0.000046
1,Common,Easy,15,127,21583,1905,0.000695
0,Common,Challenging,100,48,1225400,4800,0.000082
5,Common,Trivial,5,36,1083,180,0.004617
8,Rare,Medium,25,34,52535,850,0.000476
13,Uncommon,Medium,25,27,36195,675,0.000691
17,Very Rare,Medium,50,25,35460,1250,0.001410
10,Uncommon,Easy,15,12,2040,180,0.007353
11,Uncommon,Hard,50,11,95500,550,0.000524
6,Rare,Easy,15,10,1620,150,0.009259
15,Very Rare,Easy,30,8,1917,240,0.015649
3,Common,Harmless,1,6,296,6,0.003378
12,Uncommon,Harmless,1,4,1765,4,0.000567
18,Very Rare,Trivial,10,3,510,30,0.019608
14,Uncommon,Trivial,5,3,170,15,0.029412
7,Rare,Hard,50,3,15000,150,0.003333
9,Rare,Trivial,5,2,270,10,0.018519
16,Very Rare,Harmless,5,1,500,5,0.010000

- Criaturas de ocorrencia comum e dificuldades hard, medium e easy sÃ£o em maior qtde e hÃ¡ maior opÃ§Ã£o de fazer o bestiary

## Quais sÃ£o as criaturas comuns de dificuldades hard medium e easy que dÃ£o mais charm por hp total?

In [52]:
df_aux = df[ (df['Dificuldade'].isin(['Medium','Hard','Easy'])) & (df['Ocorrencia']=='Common')].sort_values(['Charm_por_HP_removido_creatura','Kills','Charm'], ascending=[False,False,False])
df_aux

,Criatura,Tipo,Dificuldade,Ocorrencia,Charm,Exp,HP,Kills,HP_Total_Desbloqueio,Charm_por_HP_removido_creatura
679,Scorpion,Vermin,Easy,Common,15,45,45,500,22500,6.666667e-04
596,Skeleton,Undead,Easy,Common,15,35,50,500,25000,6.000000e-04
691,Insect Swarm,Vermin,Easy,Common,15,40,50,500,25000,6.000000e-04
11,Crab,Aquatic,Easy,Common,15,30,55,500,27500,5.454545e-04
313,Swamp Troll,Humanoid,Easy,Common,15,25,55,500,27500,5.454545e-04
...,...,...,...,...,...,...,...,...,...,...
438,Burning Book,Magical,Hard,Common,50,11934,18000,2500,45000000,1.111111e-06
440,Energetic Book,Magical,Hard,Common,50,12034,18500,2500,46250000,1.081081e-06
106,Juggernaut,Demon,Hard,Common,50,11200,20000,2500,50000000,1.000000e-06
439,Icecold Book,Magical,Hard,Common,50,12750,21000,2500,52500000,9.523810e-07
421,Sight of Surrender,Magical,Hard,Common,50,17000,28000,2500,70000000,7.142857e-07

In [53]:
df_aux.to_excel('resultados_insights.xlsx')